# Dependencies
node_modules

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Testing
coverage
tests

# Misc
*.md
